extends ./layout/layout_main.pug

block css
  style.

  //- style


block content

  include data/circlebuy.pug

  .banner.home
    .gradient
    .banner-static
      img(src='assets/images/banner/banner_slide_2.jpg')
    //- banner-static
    h1.jumbo Join in the fun and save big time
      br
      small(style='font-size: 5.7vw;') circlebuying
    //- h1

    .action.authservice-logged-out
      a.btn.btn-success.btn-lg(href='#modal_signup', data-toggle='modal')
        i.fa.fa-envelope
        span.hidden-xs &nbsp;&nbsp;&nbsp;Signup with Email
      //- a
      a.btn.btn-info.btn-lg
        i.fa.fa-facebook
        span.hidden-xs &nbsp;&nbsp;&nbsp;Continue with Facebook
      //- a
    //- action
  //- banner-home

  section.profile.dd
    //- h2.direct Welcome to drinksdirect
    //-   i.fa.fa-arrow-circle-right
    //- //- h2
    .container
      .row
        .col-md-8.col-md-offset-2
          form
            .form-group
              .input-group.dc-filters
                a.arrow(href='#drop_recent_search', data-toggle='collapse')
                  i.fa.fa-caret-down
                //- a
                input.form-control.input-lg(type='text', placeholder='Search circlebuys...')
                span.input-group-btn &nbsp;&nbsp;
                span.input-group-btn
                  a.btn.btn-success.btn-lg(href='#modal_coming_soon', data-toggle='modal') Search
                //- span
                a.link-1(href='#refineSearch', data-toggle='collapse') Refine Search
                #drop_recent_search.search-dropdown.collapse
                  a.close(href='#drop_recent_search', data-toggle='collapse') &times;
                  .dropdown-wrap
                    big Suggestions
                    ul
                      li
                        a(href='#modal_coming_soon', data-toggle='modal') Brokenwood - Graveyard Vineyard
                      //- li
                    //- ul
                    big Recent search&nbsp;
                      small
                        a(href='#modal_coming_soon', data-toggle='modal') clear
                      //- small
                    //- strong
                    ul
                      li
                        a(href='#modal_coming_soon', data-toggle='modal') Corona Extra - Imported Beer
                      //- li
                    //- ul
                  //- .dropdown-wrap
                //- drop_recent_search
                #refineSearch.search-dropdown.collapse
                  a.close(href='#refineSearch', data-toggle='collapse') &times;
                  .dropdown-wrap
                    .row
                      .col-md-4.col-sm-4.col-xs-4
                        strong Category
                        ul
                          li
                            input(type='checkbox')
                            | Red Wine
                          //- li
                          li
                            input(type='checkbox')
                            | White Wine
                          //- li
                          li
                            input(type='checkbox')
                            | Beer
                          //- li
                          li
                            input(type='checkbox')
                            | Cider
                          //- li
                          li
                            input(type='checkbox')
                            | Spirits
                          //- li
                          li
                            input(type='checkbox')
                            | Bubbles
                          //- li
                          li
                            input(type='checkbox')
                            | Organic
                          //- li
                        //- ul
                      //- col-md-4
                      .col-md-4.col-sm-4.col-xs-4
                        strong Varietal
                        ul
                          li
                            input(type='checkbox')
                            | Shiraz
                          //- li
                          li
                            input(type='checkbox')
                            | Chardonnay
                          //- li
                          li
                            input(type='checkbox')
                            | Cabernet
                          //- li
                          li
                            input(type='checkbox')
                            | Suvignon
                          //- li
                          li
                            input(type='checkbox')
                            | Pinot Gris
                          //- li
                        //- ul
                      //- col-md-4
                      .col-md-4.col-sm-4.col-xs-4
                        strong Vintage
                        ul
                          li
                            input(type='checkbox')
                            | Non Vintage
                          //- li
                          li
                            input(type='checkbox')
                            | 2016
                          //- li
                          li
                            input(type='checkbox')
                            | 2015
                          //- li
                          li
                            input(type='checkbox')
                            | Etc.
                          //- li
                        //- ul
                      //- col-md-4
                    //- row
                    .row
                      .col-md-4.col-sm-4.col-xs-4
                        strong Pack Size
                        ul
                          li
                            input(type='checkbox')
                            | Single Bottle
                          //- li
                          li
                            input(type='checkbox')
                            | 6 pack
                          //- li
                          li
                            input(type='checkbox')
                            | 12 pack
                          //- li
                          li
                            input(type='checkbox')
                            | 24 pack
                          //- li
                        //- ul
                      //- col-md-4
                      .col-md-4.col-sm-4.col-xs-4
                        strong Country
                        ul
                          li
                            input(type='checkbox')
                            | Australia
                          //- li
                          li
                            input(type='checkbox')
                            | France
                          //- li
                          li
                            input(type='checkbox')
                            | Spain
                          //- li
                          li
                            input(type='checkbox')
                            | Italy
                          //- li
                          li
                            input(type='checkbox')
                            | New Zealand
                          //- li
                          li
                            input(type='checkbox')
                            | Argentina
                          //- li
                          li
                            input(type='checkbox')
                            | United States
                          //- li
                          li
                            input(type='checkbox')
                            | Chile
                          //- li
                          li
                            input(type='checkbox')
                            | South Africa
                          //- li
                          li
                            input(type='checkbox')
                            | Greece
                          //- li
                          li
                            input(type='checkbox')
                            | Uruguay
                          //- li
                          li
                            input(type='checkbox')
                            | Portugal
                          //- li
                          li
                            input(type='checkbox')
                            | Romania
                          //- li
                          li
                            input(type='checkbox')
                            | Austria
                          //- li
                          li
                            input(type='checkbox')
                            | Macedonia
                          //- li
                          li
                            input(type='checkbox')
                            | Hungary
                          //- li
                          li
                            input(type='checkbox')
                            | Brazil
                          //- li
                          li
                            input(type='checkbox')
                            | China
                          //- li
                          li
                            input(type='checkbox')
                            | Germany
                          //- li
                        //- ul
                      //- col-md-4
                      .col-md-4.col-sm-4.col-xs-4
                        strong Region
                        ul
                          li
                            input(type='checkbox')
                            | Adelaide Hills
                          //- li
                          li
                            input(type='checkbox')
                            | Adelaide Plains
                          //- li
                          li
                            input(type='checkbox')
                            | Alphine Valleys
                          //- li
                          li
                            input(type='checkbox')
                            | Barossa Valley
                          //- li
                          li
                            input(type='checkbox')
                            | Beechworth
                          //- li
                          li
                            input(type='checkbox')
                            | Bendigo
                          //- li
                          li
                            input(type='checkbox')
                            | Blackwood Valley
                          //- li
                          li
                            input(type='checkbox')
                            | Canberra District
                          //- li
                          li
                            input(type='checkbox')
                            | Clare Valley
                          //- li
                          li
                            input(type='checkbox')
                            | Coonawarra
                          //- li
                          li
                            input(type='checkbox')
                            | Cowra
                          //- li
                          li
                            input(type='checkbox')
                            | Currency Creek
                          //- li
                          li
                            input(type='checkbox')
                            | Eden Valley Wineries
                          //- li
                          li
                            input(type='checkbox')
                            | Geelong Wineries
                          //- li
                          li
                            input(type='checkbox')
                            | Geographe Wineries
                          //- li
                          li
                            input(type='checkbox')
                            | Gippsland Wineries
                          //- li
                          li
                            input(type='checkbox')
                            | Glenrowan
                          //- li
                          li
                            input(type='checkbox')
                            | Goulburn Valley
                          //- li
                          li
                            input(type='checkbox')
                            | Grampians Wineries
                          //- li
                          li
                            input(type='checkbox')
                            | Granite Belt Wineries
                          //- li
                          li
                            input(type='checkbox')
                            | Great Southern Wineries
                          //- li
                          li
                            input(type='checkbox')
                            | Gundagai
                          //- li
                          li
                            input(type='checkbox')
                            | Hastings River
                          //- li
                          li
                            input(type='checkbox')
                            | Heathcote Wineries
                          //- li
                          li
                            input(type='checkbox')
                            | Henty
                          //- li
                          li
                            input(type='checkbox')
                            | Hilltops Wineries
                          //- li
                          li
                            input(type='checkbox')
                            | Hunter Valley Wineries
                          //- li
                          li
                            input(type='checkbox')
                            | Kangaroo Island
                          //- li
                          li
                            input(type='checkbox')
                            | King Valley Wineries
                          //- li
                          li
                            input(type='checkbox')
                            | Langhorne Creek Wineries
                          //- li
                        //- ul
                      //- col-md-4
                    //- row
                    .row
                      .col-md-4.col-sm-4.col-xs-4
                        strong Price
                        ul
                          li
                            input(type='checkbox')
                            | Under $10
                          //- li
                          li
                            input(type='checkbox')
                            | $10 - $20
                          //- li
                          li
                            input(type='checkbox')
                            | $20 - $30
                          //- li
                          li
                            input(type='checkbox')
                            | $30 - $40
                          //- li
                          li
                            input(type='checkbox')
                            | $40 - $50
                          //- li
                          li
                            input(type='checkbox')
                            | $50 - $60
                          //- li
                          li
                            input(type='checkbox')
                            | $60 - $80
                          //- li
                          li
                            input(type='checkbox')
                            | $80 - $100
                          //- li
                          li
                            input(type='checkbox')
                            | $100 - $150
                          //- li
                          li
                            input(type='checkbox')
                            | $150 - $200
                          //- li
                          li
                            input(type='checkbox')
                            | Over $200
                          //- li
                        //- ul
                      //- col-md-4
                      .col-md-4.col-sm-4.col-xs-4
                        strong Ratings
                        ul
                          li
                            input(type='checkbox')
                            | Over 95
                          //- li
                          li
                            input(type='checkbox')
                            | 90 - 94
                          //- li
                          li
                            input(type='checkbox')
                            | 85 - 89
                          //- li
                          li
                            input(type='checkbox')
                            | 80 - 84
                          //- li
                          li
                            input(type='checkbox')
                            | 75 - 79
                          //- li
                          li
                            input(type='checkbox')
                            | Less than 74
                          //- li
                        //- ul
                      //- col-md-4
                      .col-md-4.col-sm-4.col-xs-4
                        strong Awards
                        ul
                          li
                            input(type='checkbox')
                            | Trophy
                          //- li
                          li
                            input(type='checkbox')
                            | Gold
                          //- li
                          li
                            input(type='checkbox')
                            | Silver
                          //- li
                          li
                            input(type='checkbox')
                            | Bronze
                          //- li
                        //- ul
                      //- col-md-4
                    //- row
                  //- filters-wrap
                //- dc-filters-dropdown
              //- input-group
            //- form-group
          //- form
        //- col-md-8
      //- row
      br
      .text-center
        a.btn-action-1(href='circlebuy-start.html') Create a circlebuy
    //- container
  //- section

  section.pagenav
    .container
      .row
        .col-md-3.text-center
          p
          form.form-inline
            .form-group
              label(for='exampleInputName2') Sort by
              select.form-control
                option finish soonest
                option my friends
                option my circles
                option highest no.
              //- select
            //- form-group
          //- form
        //- col-md-4
        .col-md-6
          nav.page
            ul
              li
                a(href='circlebuying-red.html') Red
              //- li
              li
                a(href='circlebuying-white.html') White
              //- li
              li
                a(href='circlebuying-beer.html') Beer
              //- li
              li
                a(href='circlebuying-spirits.html') Spirits
              //- li
              li
                a(href='circlebuying-bubbles.html') Bubbles
              //- li
              li
                a(href='circlebuying-cider.html') Cider
              //- li
            //- ul
          //- nav
        //- col-md-4
        .col-md-3.text-center
          p
          form.form-inline
            .form-group
              label(for='exampleInputEmail2') Show
              select.form-control
                option 16
                option 32
                option 64
              //- select
            //- form-group
          //- form
        //- col-md-4
      //- row
    //- container
  //- section

  section.drinks(Zng-app="myApp" Zng-controller="myCtrl" ng-cloak)
    .container
      .productdetails.search
        .row

          // Render the circlebuys using widgets
          //div(ng-repeat="sharedOrder in sharedOrders").col-md-6.col-sm-6.text-center.super-customized
          div(ng-repeat="sharedOrder in sharedOrders").col-md-3.col-sm-6.text-center
            circlebuy-widget


          // Example widgets - Render using data in data/circlebuy.pug
          each item, index in circlebuy
            if circlebuy[index].catalog
              .col-md-3.col-sm-6.text-center
                .card_rounded
                  a(href='#modal_preview_detail_brokenwood', data-toggle='modal')
                    big
                      span= circlebuy[index].brand
                        br
                        small.el= circlebuy[index].type
                      //- span
                  //- a
                  hr
                  span
                    big= circlebuy[index].name + "'s "
                      strong
                        big= circlebuy[index].qty + " case "
                      | circlebuy
                  .shortsummary
                    .sold
                      p.cases-sold sold
                      p.lead
                        span.green= circlebuy[index].sold
                        br
                        //- small cases
                      //- p
                    //- sold
                    .left
                      p left
                      p.lead
                        span.green= circlebuy[index].left
                        br
                        //- small cases
                      //- p
                    //- left
                  //- shortsummary
                  p
                  .avatar
                    //- .img
                    //-  div(class=['ring', circlebuy[index].ring])
                    .gauge
                      img(src=circlebuy[index].img, alt='')
                      .circlebuyGauge(data-size=circlebuy[index].qty, data-sold=circlebuy[index].sold)
                    //- gauge
                  //- avatar
                  br
                  p
                    a.button.inline.v8.joincirclebuy.thin-line(href='productdetails2.html') view
                    | &nbsp;
                    a.button.inline.v7.joincirclebuy.thin-line(href="circlebuy-start.html") join
                    | &nbsp;
                    a.button.inline.v8.joincirclebuy.thin-line(href="") watch
                  //- p
                  .circlebuy-table
                    .prod-details.deals
                      .label-qty.cols
                        strong Qty
                        br
                      //- qty
                      .label-bottle.cols
                        strong Bottle
                        br
                      //- label-bottle
                      .label-pack.cols
                        strong= circlebuy[index].pack + " Pack"
                        br
                        //- span
                      //- price
                      .label-savings.cols
                        span
                          strong.green Save
                        br
                      //- savings
                    //- prod-details
                    .prod-details.deals.tr
                      .label-qty.cols
                        span= circlebuy[index].qty
                      //- qty
                      .label-bottle.cols
                        span= "$ " + circlebuy[index].price
                      //- label-bottle
                      .label-pack.cols
                        span= "$ " + circlebuy[index].packprice
                        //- span
                      //- price
                      .label-savings.cols
                        strong.middle
                          big.lead= "$ " + circlebuy[index].savings
                      //- savings
                    //- prod-details
                  //- .circlebuy-table
                //- card_rounded
              //- col-md-3
            //- if
          //- each
        //- row
      //- productdetails
      hr
      nav.text-center(aria-label='...')
        ul.pagination.pagination-sm
          li
            a(href='#', aria-label='Previous')
              span(aria-hidden='true') «
          li
            a(href='#modal_coming_soon', data-toggle='modal') 1
          li
            a(href='#modal_coming_soon', data-toggle='modal') 2
          li
            a(href='#modal_coming_soon', data-toggle='modal') 3
          li
            a(href='#modal_coming_soon', data-toggle='modal') 4
          li
            a(href='#modal_coming_soon', data-toggle='modal') 5
          li
            a(href='#', aria-label='Next')
              span(aria-hidden='true') »
            //- a
          //- li
        //- ul
      //- nav
    //- container
  //- section


  #modal_preview_detail_brokenwood.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog.modal-md
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
          //- h4#myModalLabel.modal-title Buy Options
        //- modal-header
        .modal-body
          .product
            .thumb
              .ctr
                .count
                  | 94
                  span points
                //- count
              //- ctr
              a(href='productdetails2.html')
                img.img-prod(src='//www.brokenwood.com.au/assets/images/products/pictures/GraveyardVineyardShiraz11.jpg', alt='')
              //- a
              .details
                p
                .name
                  a(href='#modal_coming_soon', data-toggle='modal') Brokenwood
                  br
                  small Graveyard Vineyard
                //- name
                table.table
                  tbody
                    tr
                      th Rating
                      td 94 points
                    //- tr
                    tr
                      th Variety
                      td Shiraz
                    //- tr
                    tr
                      th Region
                      td Hunter Valley
                    //- tr
                    tr
                      th Alcohol
                      td 14.5%
                    //- tr
                    tr
                      th Vintage
                      td 2010
                    //- tr
                    tr
                      th Shipping
                      td Free
                    //- tr
                    tr
                      th Returns
                      td 60 days
                    //- tr
                    tr
                      th Circlebuys
                      td 84
                    //- tr
                    tr
                      th No. Ratings
                      td 242
                    //- tr
                    tr
                      th No. Reviews
                      td 88
                    //- tr
                    tr
                      th Case Size
                      td 12 bottles
                    //- tr
                    tr
                      th Standard Drinks
                      td 8
                    //- tr
                    tr
                      th Food Matching
                      td Osso Bucco, Lamb
                    //- tr
                    tr
                      th
                      td
                    //- tr
                  //- tbody
                //- table
                .pricing
                  .buy.drop
                    ul
                      li
                        a.thumb-action(href='productdetails2.html') Buy
                      //- li
                      li.price $19.99
                      li
                        a.thumb-action(href='productdetails2.html') View
                      //- li
                    //- ul
                  //- buy
                //- pricing
              //- details
            //- thumb
          //- product
        //- modal-body
      //- modal-content
    //- modal-dialog
  //- modal
  #modal_preview_detail_sticks.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog.modal-md
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
          //- h4#myModalLabel.modal-title Buy Options
        //- modal-header
        .modal-body
          .product
            .thumb
              .ctr
                .count
                  | 97
                  span points
              a(href='productdetails-sticks.html')
                img.img-prod(src='assets/images/products/p8.jpg', alt='')
              .details
                p
                .name
                  a(href='#modal_coming_soon', data-toggle='modal') Sticks
                  br
                  small Pinot Noir
                table.table
                  tbody
                    tr
                      th Rating
                      td 97 points
                    tr
                      th Variety
                      td Pinot Noir
                    tr
                      th Region
                      td Yarra Valley
                    tr
                      th Alcohol
                      td 13.0%
                    tr
                      th Vintage
                      td 2015
                    tr
                      th Shipping
                      td $9
                    tr
                      th Returns
                      td 30 days
                    tr
                      th Circlebuys
                      td 21
                    tr
                      th No. Ratings
                      td 69
                    tr
                      th No. Reviews
                      td 13
                    tr
                      th Case Size
                      td 6 bottles
                    tr
                      th Standard Drinks
                      td 7
                    tr
                      th Food Matching
                      td Pasta, Duck
                    tr
                      th
                      td
                .pricing
                  .buy.drop
                    ul
                      li
                        a.thumb-action(href='productdetails-sticks.html') Buy
                      li.price $14.99
                      li
                        a.thumb-action(href='productdetails-sticks.html') View
        //- modal-body
      //- modal-content
    //- modal-dialog
  //- modal
  #modal_preview_detail_rosnay.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog.modal-md
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
          //- h4#myModalLabel.modal-title Buy Options
        //- modal-header
        .modal-body
          .product
            .thumb
              .ctr
                .count
                  | 96
                  span points
              a(href='productdetails-rosnay.html')
                img.img-prod(src='assets/images/producers/rosnay/prod9.png', alt='')
              .details
                p
                .name
                  a(href='#modal_coming_soon', data-toggle='modal') Rosnay Organic
                  br
                  small Triple Blend
                table.table
                  tbody
                    tr
                      th Rating
                      td 96 points
                    tr
                      th Variety
                      td Triple Blend
                    tr
                      th Region
                      td Cowra
                    tr
                      th Alcohol
                      td 14.0%
                    tr
                      th Vintage
                      td 2015
                    tr
                      th Shipping
                      td Free
                    tr
                      th Returns
                      td 90 days
                    tr
                      th Circlebuys
                      td 9
                    tr
                      th No. Ratings
                      td 34
                    tr
                      th No. Reviews
                      td 8
                    tr
                      th Case Size
                      td 12 bottles
                    tr
                      th Standard Drinks
                      td 7.5
                    tr
                      th Food Matching
                      td Steak, Casserole
                    tr
                      th
                      td
                .pricing
                  .buy.drop
                    ul
                      li
                        a.thumb-action(href='productdetails-rosnay.html') Buy
                      li.price $19.99
                      li
                        a.thumb-action(href='productdetails-rosnay.html') View
        //- modal-body
      //- modal-content
    //- modal-dialog
  //- modal

block scripts
  // External Script goes here...

  script.
    $(function () {
      $('.popover_price[data-toggle="popover"]').popover({
        html: true,
        content : function() {
          return '<ul class="cost">' + $(this).parent().find("ul").html() + '</ul>';
        },
        title: function(){
          return jQuery(this).data('title') + '<span class="close">&times;</span>';
        }
      }).on('shown.bs.popover', function(e) {
        var popover = jQuery(this);
        $(this).parent().find('.popover span.close').on('click', function(e) {
          popover.popover('hide');
        });
      }).click(function(e) {
        e.preventDefault();
      });
    });

    $(document).ready(function(){
      $('.owl-carousel').owlCarousel({
        loop: true,
        autoplay: true,
        autoplayTimeout: 6000,
        autoplayHoverPause: true,
        animateOut: 'fadeOut',
        autoplaySpeed: 1000,
        mouseDrag: false,
        responsive:{
          0: {
            items: 1
          },
          600: {
            items: 1
          },
          1000: {
            items: 1
          }
        }
      });

      //search
      $(".dc-filters").find("input.input-lg").keypress(function (e) {
        var key = e.which;
        if(key == 13)  // the enter key code
          {
            $(".dc-filters").find("span a").trigger("click");
            return false;
          }
      });

    });


    /************************************************************
     *
     *    Angular code.
     */
    var app = angular.module('myApp', ['ngSanitize']);

    teaservice.init({
      host: TEASERVICE_HOST,
      port: TEASERVICE_PORT,
      accessToken: TEASERVICE_ACCESS_TOKEN
    });

    // Add the controller for this page
    app.controller('pageCtrl', function($scope, teaService) {
      
      // Handle the logging in
      $scope.authserviceConfig = {
        host: AUTHSERVICE_HOST,
        port: AUTHSERVICE_PORT,
        tenant: AUTHSERVICE_TENANT,
        dummyLogin: AUTHSERVICE_USE_DUMMY_LOGIN
      };
      $scope.userHandler = {
        onUserChange: function(user, ttuat, stale) {
          /*if (user) {
            alert('Have user')
          } else {
            alert('Have no user')
          }*/
          console.log('Wow, the user changed!', user);
          $scope.currentUser = user;
          $scope.ttuat = ttuat;
        }
      }

        // Look after the product_variant
        var NICE_PRODUCT_VARIANT_ID = 6180;
        /*
        teaService.getProductAndSetAngularVariables({
          productVariantId: NICE_PRODUCT_VARIANT_ID,
          needPricing: true
        }, $scope, teaService);*/

        // Look after the circle buys
        teaService.getSharedOrdersAndSetAngularVariables({
          //productVariantId: NICE_PRODUCT_VARIANT_ID
        }, $scope, teaService, function(){

            setTimeout(function(){
            console.log("asdasfas");
            Main.circlebuyGaugeInit();
            },3000);
        });

    });



  //- script.
//- block scripts
